.container {
  margin: 40px;
  gap: 100px;
  display: flex;
  flex-direction: column;
}

.home-container {
  text-align: center;
  padding: 50px;
}

.home-title {
  padding-left: 1rem;
  font-size: 48px;
  text-shadow: 0 0 20px #0ff;
}

.download-button {
  margin-top: 0px;
  font-size: 20px;
}

.news-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.news-image {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-bottom: 10px;
}
