.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 20px;
  justify-content: start; /* ou center se quiser centralizar o bloco */
}

.container {
  margin: 40px;
}

/* Character Cards */
.character-card {
  width: 150px;
  text-align: center;
  transition: 0.3s;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Images */
.character-card img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 10px;
  transition: 0.3s;
}

/* Character Name */
.character-card h3 {
  margin-bottom: 1rem;
  font-size: 18px;
  color: #333;
}
